
$body-bg: #f3f3f0;
@import 'custom_bootstrap';
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/variables";
$warning: #8daab9;
$colors: (
  prima : #2196F3,
  second: #039be5,
  sky: #09A6E4,
);
$fontSizes: (
  sm: 0.8em,
  md: 1.1em,
  lg: 1.8em
);
html {
  font: 1.1em/1.4 Helvetica, sans-serif;
}
ul > li {
  display:inline;
  border-radius: 3px;
  background-color: $pink;
  border-bottom-style: solid 9px
}
span {
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  color: map-get($colors, prima);
  border: solid 1px map-get($colors, sky);
}


* { box-sizing: border-box; }

.wrapper {
  border: 5px solid rgb(86,98,110);
  border-radius: 3px;
  margin-bottom: 1.5em;
}
* { box-sizing: border-box; }

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  border: 1px solid ;
  border-radius: 3px;
  padding: 10px;
}

.wrapper > div {
  display: flex;
  justify-content: center;
  background-color: rgb(89,161,175);
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: bold;
}

.flex {
   display: flex;
  flex-wrap: wrap;
}

.flex > * {
  flex: 1 1 250px;
  margin: 10px;
}

.photos {
  display: flex;
  justify-content: center;
  background-color: #fff;

}
img {
  padding-left: 12%;
}


h1 {
  font-sizes: map-get($fontSizes, lg);
  background-color: map-get($colors, prima);
}
@media (min-width: 66em) {
  p {
    font-sizes: map-get($fontSizes, lg);
    background-color: map-get($colors, second);
    margin: 0 0 .8em 0;
  }
}
@media (min-width: 50em) {
  p {
    font-sizes: map-get($fontSizes, md);
    background-color: $warning;
    margin: 0 0 0 0;
  }
}
@media (min-width: 40em) {
  p {
    font-sizes: map-get($fontSizes, sm);

    margin: 0 0 .3em 0;
  }
}


